
        <footer class="bs-footer" role="contentinfo">
            <div class="container">
                <p class="text-center">Design by <a href="http://www.zrq495.com" target="_blank">zrq495</a> and <a href="http://blog.gentoox.org" target="_blank">timeship</a>.<br>&copy; 2013 <a href="mailto:zrq495@gmail.com">SDUT ACM Team</a>. All Rights Reserved.</p>
            </div>
        </footer>


        <script src="../../../static/dist/js/jquery.min.js"></script>
        <script src="../../../static/dist/js/bootstrap.js"></script>
        <script src="../../../static/dist/js/application.js"></script>
        <script src="../../../static/jquery/jquery.tablesorter.min.js"></script>
        <script src="../../../static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="../../../static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <script type="text/javascript">
		    $$(document).ready(function(){
                    $#$$("#staticsticstable").tablesorter( {sortList: [[5,1], [4,1], [3,1], [2,1], [1,1]], headers: { 0: {sorter: false} }} );     
                    $$("#staticsticstable").tablesorter( {headers: { 0: {sorter: false} }} );     
                    $$("#staticsticsyeartable").tablesorter( {sortList: [[13,1]], headers: { 0: {sorter: false} }} );     
                    $$("#adminusertable").tablesorter( {headers: { 0: {sorter: false} }} );     
	    }); 
        </script>
        <script type="text/javascript">
            $$('.form_date').datetimepicker({
                language:  'zh-CN',
                weekStart: 1,
                todayBtn:  1,
		        autoclose: 1,
		        todayHighlight: 1,
		        startView: 2,
		        minView: 2,
		        forceParse: 0
        });
        </script> 

    </body>
</html>
