$def with(user, all_week, all_week_user, table_width, year, half, start_year, this_year, this_half)
<!DOCTYPE html>
$:render.header()

<style>
    body { padding-top: 70px; }
    table.user {
        width:$table_width;
    } 
</style>

        <div class="container bs-docs-container">
            <div class="row">

                <div align="center">
                    <ul class="pagination">
                        $ flag = half - 1 
                        $if year == start_year and half == 3:
                            <li class="disabled"><span>&laquo;</span></li>
                        $elif flag == 0:
                            <li><a href="/statistics/$int(year)/week/3">&laquo;</a></li>
                        $elif flag == 1:
                            <li><a href="/statistics/$int(year)/week/4">&laquo;</a></li>
                        $elif flag == 2:
                            <li><a href="/statistics/$int(year-1)/week/2">&laquo;</a></li>
                        $elif flag == 3:
                            <li><a href="/statistics/$int(year)/week/1">&laquo;</a></li>
                        $ z = 0
                        $if this_half == 1:
                            $ z = 2
                        $elif this_half == 2:
                            $if this_year == year:
                                $ z = 0
                            $else:
                                $ z = 4
                        $elif this_half == 3:
                            $ z = 3
                        $elif this_half == 4:
                            $ z = 1
                        $ num = (int(this_year)-start_year+1)*4-z
                        $ l = []
                        $for i in range(num):
                            $if i % 4 == 0:
                                $l.append((i/4)*4+2)
                            $elif i % 4 == 1:
                                $l.append((i/4)*4+0)
                            $elif i % 4 == 2:
                                $l.append((i/4)*4+3)
                            $elif i % 4 == 3:
                                $l.append((i/4)*4+1)
                        $for i in l:
                            $ y = start_year + i / 4
                            $ x = i % 4 + 1
                            $if x == 2:
                                $ h = '下'
                            $elif x == 1:
                                $ h = '上'
                            $elif x == 3:
                                $ h = '寒'
                            $elif x == 4:
                                $ h = '暑'
                            $if y == year and half == x:
                                <li class="active"><span>$y$h<span class="sr-only">(current)</span></span></a></li>
                            $else:
                                <li><a href="/statistics/$y/week/$x">$y$h</a></li>
                        $ flag = half - 1
                        $if (year == this_year or year == this_year-1) and half == this_half:
                            <li class="disabled"><span>&raquo;</span></li>
                        $elif flag == 0:
                            <li><a href="/statistics/$int(year)/week/4">&raquo;</a></li>
                        $elif flag == 1:
                            <li><a href="/statistics/$int(year+1)/week/3">&raquo;</a></li>
                        $elif flag == 2:
                            <li><a href="/statistics/$int(year)/week/1">&raquo;</a></li>
                        $elif flag == 3:
                            <li><a href="/statistics/$int(year)/week/2">&raquo;</a></li>
                    </ul>
                </div>

                <table class="table table-bordered table-hover table-striped user">
                    <thead>
                        <tr>
                            <th>$year年
                            $if half == 1:
                                上半年
                            $elif half == 2:
                                下半年
                            $elif half == 3:
                                寒假
                            $elif half == 4:
                                暑假
                            </th>
                            $for u in user:
                                <th><a href="http://poj.org/userstatus?user_id=$u.poj_name" target="_blank">$u.user_name<br>$u.class1</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        $ i = 0
                        $for aw in all_week:
                            <tr>
                            <td>$aw[2] $aw[0]~$aw[1]</td>
                            $for awu in all_week_user[i]:
                                <td>$awu[1][0]</td>
                            </tr>
                            $ i += 1
                    </tbody>
                </table>
            </div>
        </div>


$:render.footer()
