$def with(count)
$:render.header()

<style>
    body { padding-top: 70px; }
</style>

        <div class="container bs-docs-container">
            <div class="row">
                <table class="table table-bordered table-hover tablesorter" id="staticsticstable">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>初级（92题）</th>
                            <th>中级（103题）</th>
                            <th>高级（83题）</th>
                            <th>总计（278题）</th>
                        </tr>
                    </thead>
                    <tbody>
                        $for cnt in count:
                            <tr>
                            $for c in cnt:
                                <td>$c</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

$:render.footer()
